.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
}

.cus-vh-100{
    height: 100vh;
}

.title-font-family{
    font-family: "Architects Daughter";
}

.description-font-family{
    font-family: "Bentham";
}

.d-md, .d{
    display: inherit;
}

.border-thick{
    border-width: thick !important;
    border-color: #e9f1df !important;
}

@font-face {
    font-family: 'Architects Daughter';
    src: url('../assets/ArchitectsDaughter.ttf') format('truetype');
}

@font-face {
    font-family: 'Bentham';
    src: url('../assets/Bentham.otf') format('opentype');
}