.bg-red {
    background-color: #f23c50;
}

.brand-logo {
    max-height: 100px;
    margin: -50% 0;
}

.list-group-item.active {
    background-color: #f23c50 !important;
}

.list-group-item{
    background-color: #e9f1df !important;
}

.bg-grey {
    background-color: #e9f1df;
}

.bg-lblue {
    background-color: #4ad9d9;
}

.bg-blue {
    background-color: #4995d9;
}

.bg-green {
    background-color: #49d96b;
}

.bg-yellow {
    background-color: #ffcb05;
}

.bg-darker {
    background-color: #e9f1df;
}

.anchor {
    position: absolute;
    left: 0;
    top: -70px;
}

/******************************************************/
.container {
    max-width: 960px;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
    -ms-flex: 1;
    flex: 1;
}
@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        flex: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}

.title-font-family{
    font-family: "Architects Daughter";
}

.description-font-family{
    font-family: "Bentham";
}

@font-face {
    font-family: 'Architects Daughter';
    src: url('../assets/ArchitectsDaughter.ttf') format('truetype');
}

@font-face {
    font-family: 'Bentham';
    src: url('../assets/Bentham.otf') format('opentype');
}